body {
  margin: 0;
  background-color: #000000;
}

.app__main-wrap {
  width: 100%;
}

.app__heading {
  color: white;
  background-color: darkblue;
  margin-top: 0;
  padding: 1em 1em;;
  box-sizing: border-box;
  text-align: center;
}

.search__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  width: 300px;
}

.search__bar {
  padding: .5em .75em;
  border-radius: 3px;
  border: 0;
  width: 150px;
  background-color: white;
  color: gray;
  font-weight: 700;
  outline: none;
}

.search__bar__button {
  padding: .75em .9em;
  background: cornflowerblue;
  color: black;
  border-radius: 3px;
  width: 75px;
  font-weight: 700;
  margin: 5px 0;
}

.data-row__flex-wrap {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  box-sizing: border-box;
  max-width: 95%;
  margin: 0 30px;
  background: white;
  border-bottom: 1px solid black;
}

.data-row__flex-wrap:first-of-type {
 background: darkorange;
  margin-top: 7px;
}

.data-row__flex-wrap:nth-child(even) {
  background: lightgray;
}

.data-row__flex-wrap:first-of-type .data-row__item {
  font-weight: 700;
  padding: .25em 0;
}

.data-row__item {
  width: 8.5%;
  text-align: center;
  color: black;
  display: none;
}

@media(min-width: 600px) {
  .data-row__item {
    display: block;
  }
}

@media (max-width: 600px) {
  .data-row__mobile {
    display: block;
  }
}

